body{
    width: auto;
    margin: auto;
    padding: 0;
    background-color: rgb(236, 236, 236);
}
.morada{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5px;
}
.navbar{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.izquierda{
    display: flex;
    margin-left: 140px;
    font-size: 30px;
    width: 50%;
}
.derecha{
    display: flex;
    margin-right: 150px;
    height: 50px;
    width: 15%;
    align-items: center;
    color: white;
    text-align: center;
    justify-content: space-between;
}
.derecha h2{
    display: flex;
    align-items: center;
}
.icon{
    width: 30px;
    height: 30px;
}
#moneda{
    width: 80px;
    height: 30px;
    font-size: 15px;
}
#txt1{
    color: white;
}
#txt2{
    color: blueviolet;
}
#high{
    padding-left: 400px;
}
.panelgrande{
    display: flex;
    justify-content: center;
    align-items: center;
}
#imggrande{
    border-color: black;
    border: solid;
    width: 700px;
    height: 300px;
}
.imgpequeña{
    width: 50px;
    height: 50px;
}
.lineas{
    font-size:300px;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 20px;
    width: 100%;
    margin-top: 15px;
}
#linea1{
    background-color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    height: 10px;
    width: 100px;
}
#linea2{
    background-color: rgb(101, 4, 114);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    height: 10px;
    width: 100px;
}
#linea3{
    background-color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    height: 10px;
    width: 100px;
}
#linea4{
    background-color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    height: 10px;
    width: 100px;
}
.paneles{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
}
.imgmedianos{
    width: 300px;
    height: 130px;
    border-color: black;
    border-bottom: 3px solid;
}
.p1{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 385px;
    display: flex;
    flex-direction: column;
    margin-left: 125px;
    margin-right: 125px;
    border-radius: 5px;
    border-color: black;
    border: solid;
}
.p2{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 385px;
    display: flex;
    flex-direction: column;
    margin-left: 125px;
    margin-right: 125px;
    border-color: black;
    border: solid;
}
.p3{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 385px;
    display: flex;
    flex-direction: column;
    margin-left: 125px;
    margin-right: 125px;
    border-color: black;
    border: solid;
}
#juego{
    margin-left: 20px;
}
.soft{
    display: flex;
    justify-content: center;
    justify-content: start;
    margin-left: 20px;
}
.comprar{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 35px;
    margin-top: 55px;
}
.descuento{
    background-color:blueviolet;
    color: white;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    padding:  10px 10px 10px 10px;
    border-radius: 5px;
    border-color: rgb(155, 62, 241);
}
.precio{
    color: black;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}
.precio p{
    margin: 0%;
    padding: 0;
}
.precio del{
    font-size: 13px;
    color: rgb(168, 168, 168);
}
#buy{
    color: white;
    background-color: rgb(72, 255, 0);
    font-size: 15px;
    display: flex;
    padding:  8px 8px 8px 8px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}