body{
    width: auto;
    margin: auto;
}
.navbar{
    width: 100%;
    height: 125px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
#txt1{
    color: white;

}
#txt2{
    color: blueviolet;
}
.pt{
    display: flex;
}